.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-image: url("../img/bg5.jpg");
}

.cart__body-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: 80px 0;
}

.cart__body-item {
  background-color: #5f98de79;
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item-cart__title {
  color: #000000;
  font-weight: 600;
  font-size: 24px;
}

.item-cart__price {
  font-size: 20px;
}


.cart__body-item {
  position: relative;
}

.delete {
  position: absolute;
  top: 26px;
  right: 16px;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

.cart__body-item:hover .delete {
  opacity: 1;
}

.delete__inner {
  position: relative;
}

.delete__inner::after {
  background-color: #1a0433;
  height: 3px;
  width: 30px;
  position: absolute;
  display: block;
  content: "";
  border-radius: 3px;
  transform: rotate(-45deg);
}

.delete__inner::before {
  background-color: #1a0433;
  height: 3px;
  width: 30px;
  position: absolute;
  display: block;
  content: "";
  border-radius: 3px;
  transform: rotate(45deg);
}

.buy__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 32px;
}

.buy {
  outline: none;
  border: none;
  padding: 8px 24px;
  background-color: #8B7474;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.cart__form {
  box-shadow: 0px 0px 10px 2px rgba(252, 252, 252, 0.2);
  position: fixed;
  background-color: #353A40;
  top: 120px;
  left: 50%;
  display: flex;
  flex-direction: column;
  padding: 64px;
  border-radius: 24px;

  z-index: 0;
  opacity: 0.3;
  transform: translateX(-50%) scale(0);
}

.cart__form.active {
  z-index: 99;
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.cart__form input {
  background-color: #fff;
  border: none !important;
  outline: none !important;
  padding: 8px;
  border-radius: 6px;
  color: #000;
  font-size: 16px;
  margin-bottom: 16px;
}

.cart__form input::placeholder {
  color: #000;
  font-size: 16px;
}

.send {
  font-weight: 600;
  padding: 8px 24px;
  background-color: #8B7474;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.main {
  position: relative;
}